<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="https://schema.org/WebSite">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,height=device-height initial-scale=1.0">
	<title>Olivério Neto - sysadmin & front-end developer</title>
	
	<!-- Bibliotecas CSS -->
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/style.min.css">

	<!-- Bibliotecas JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.5/vue.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.1/vue-resource.min.js"></script>
	<script src="lib/jquery/dist/jquery.js"></script>
	<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container" id="app">
		<div class="row col-md-12">
		<h1 class="alert alert-success" style="margin-bottom:50px;">Buscador de CEP</h1>
			<form class="form-group" action="#">
				<div class="row">
					<div class="col-md-2">
						<input type="text" v-model="cep" id="cep" class="form-control" placeholder="Digite seu CEP!">
						<p v-show="status" class="help-block">Não encontrado!</p>
					</div>
					<div class="col-md-6 buttons">
						<button class="btn btn-success" @click="send($event)">Buscar</button>
						<button class="btn btn-danger" @click="limpar($event)">Limpar</button>
					</div>
				</div>
				<div class="row" style="margin-bottom:30px;">
					<div class="col-md-3">
						<label for="logradouro">Logradouro</label>
						<input type="text" v-model="resultado.logradouro" id="lougradouro" class="form-control">
					</div>
					<div class="col-md-2">
						<label for="bairro">Bairro</label>
						<input type="text" v-model="resultado.bairro" id="bairro" class="form-control">
					</div>
					<div class="col-md-2">
						<label for="cidade">Cidade</label>
						<input type="text" v-model="resultado.localidade" id="cidade" class="form-control">
					</div>
					<div class="col-md-2">
						<label for="estado">Estado</label>
						<input type="text" v-model="resultado.uf" id="estado" class="form-control">
					</div>
					<div class="col-md-2">
						<label for="ibge">Ibge</label>
						<input type="text" v-model="resultado.ibge" id="ibge" class="form-control">
					</div>
				</div>
				<div class="row col-md-10">
					<div class="alert alert-info"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Desenvolvido por <strong>Olivério Neto</strong> (<a href="https://oliverio.eti.br"><u>http://oliverio.eti.br</u></a>) usando a biblioteca JavaScript <strong><a target="_blank" href="https://vuejs.org/v2/guide/">vuejs</a></strong>. Este projeto está disponibilizado no <a target="_blank" href="https://github.com/oliveriojnn/buscar-cep">github!</a></div>
				</div>
			</div>
		</form>
	</div>


	<script src="assets/js/style.js"></script>
	<script src="assets/js/main.js"></script>
</body>
</html>